@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --branco-pricipal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167df7;
  --cor-de-fundo: #00030c;
  --fonte--princial--: "Inter";
  --botao-azul-efeito: #3a78c5;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-pricipal);
  font-family: var(--fonte--princial--);
  font-size: 16px;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
}

.principal {
  background-image: url("../assets/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.container__titulo {
  font-size: 28px;
  font-weight: 700;
}
.container__botao {
  background-color: var(--botao-azul);
  text-decoration: none;
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-pricipal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}
.botao__secundario {
  background-color: transparent;
  border: 2px solid var(--branco-pricipal);
}
.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}
.container__imagem {
  margin: 1em 0 2em 0;
}
.container__caixa {
  margin: 0 6em;
}
.secundario__imagem {
  width: 80%;
}
.secundario {
  align-items: center;
  margin: 0 10em;
}
.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-pricipal);
  margin-bottom: 0.1em;
}
.descricao__texto {
  color: var(--cinza-secundario);
}
.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}
.container__descricao {
  padding: 2em;
}
.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}
.dispositivos {
  text-align: center;
}
.dispositivos__titulo {
  font-size: 48px;
  color: var(--branco-pricipal);
}
.lista__item {
  font-size: 32px;
  color: var(--branco-pricipal);
}
.rodape {
  text-align: center;
  margin: 5em 3em;
}
.rodape__lista {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 2em;
}
.lista__link a {
  text-decoration: none;
  color: var(--branco-pricipal);
  font-size: 16px;
  margin-left: 1em;
}
.rodape__texto {
  color: var(--cinza-secundario);
  font-size: 14px;
  margin-top: 2em;
}
.lista__link a:hover {
  color: var(--botao-azul);
}
.lista__link a:active {
  color: aqua;
}
.container__botao:hover {
  background-color: var(--botao-azul-efeito);
  color: var(--cor-de-fundo);
}
.botao__secundario:hover {
  background-color: var(--branco-pricipal);
  color: var(--cor-de-fundo);
}
